@(message: String, signupForm: Form[Spieler])

@import helper._
@import helper.twitterBootstrap._

@main(null, "- Registrieren", "registerpage") {

	<section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">Registrierung</h2>

                @helper.form(action = routes.SignUp.submit) {
                    <fieldset>
                        <legend>Persönliche Daten</legend>

                        @inputText(
                            signupForm("firstname"),
                            '_label -> "Vorname:",
                            'id -> "firstname"
                        )

                        @inputText(
                            signupForm("lastname"),
                            '_label -> "Nachname:",
                            'id -> "lastname"
                        )

                        @inputDate(
                            signupForm("birthday"),
                            '_label -> "Geburtstag:",
                            '_error -> signupForm.error("Verwenden Sie bitte folgendes Datumsformat: dd.mm.yyyy (z.B. 24.12.2012).")
                        )

                        @select(
                            signupForm("gender"),
                            options = options(Spieler.gender()),
                            '_default -> "--- Pick your gender ---",
                            '_label -> "Geschlecht:"
                        )
                    </fieldset>

                    <fieldset>
                        <legend>Login Daten</legend>

                        @inputText(
                            signupForm("username"),
                            '_label -> "Benutzername*",
                            'id -> "username",
                            '_error -> signupForm.error("Der Benutzername muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.")
                        ) validation.match(abbreviation, "{4,8}")

                        @inputPassword(
                            signupForm("password"),
                            '_label -> "Passwort*",
                            'id -> "password",
                            '_error -> signupForm.error("Das Passwort muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.")
                        ) validation.match(abbreviation, "{4,8}")

                        <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>
                    </fieldset>
                }
        </section>
}
