@(message: String, signupForm: Form[Spieler])

@import helper._
@import helper.twitterBootstrap._

@main(null, "- Registrieren", "registerpage") {

	<section role="main" id="register" aria-labelledby="registerheading">
            <!-- Register section -->
            <h2 id="registerheading" class="accessibility">Registrierung</h2>

                @helper.form(action = routes.SignUp.submit) {
                    <fieldset>
                        <legend>Persönliche Daten</legend>

                        @inputText(
                            signupForm("firstname"),
                            '_label -> "Vorname:",
                            'id -> "firstname"
                        )

                        @inputText(
                            signupForm("lastname"),
                            '_label -> "Nachname:",
                            'id -> "lastname"
                        )

                        @inputDate(
                            signupForm("birthday"),
                            '_label -> "Geburtstag:",
                            '_showConstraints -> false
                        )

                        @select(
                            signupForm("gender"),
                            options = options(Spieler.gender()),
                            '_default -> "--- Pick your gender ---",
                            '_label -> "Geschlecht:"
                        )
                    </fieldset>

                    <fieldset>
                        <legend>Login Daten</legend>

                        @inputText(
                            signupForm("username"),
                            '_label -> "Benutzername*",
                            'id -> "username",
                            '_showConstraints -> false
                        )
                        <div id="error_msg_username" class="hide" role="alert">Der Benutzername muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>

                        @inputPassword(
                            signupForm("password"),
                            '_label -> "Passwort*",
                            'id -> "password",
                            '_showConstraints -> false
                        )
                        <div id="error_msg_password" class="hide" role="alert">Das Passwort muss mindestens 4 Zeichen und darf maximal 8 Zeichen enthalten.</div>

                        <input id="registersubmit" type="submit" value="Registrieren" accesskey="s"/>
                        <p id="requiredhint">Mit "*" gekennzeichnete Felder sind Pflichtfelder</p>
                    </fieldset>
                }
        </section>
}
